@font-face {
	font-family: NeutrifPro-Medium;
	src: url('../fonts/NeutrifPro-Medium.otf') format("opentype");
 }

 @font-face {
	font-family: Greycliff-CF-Heavy;
	src: url('../fonts/Greycliff-CF-Heavy.otf') format("opentype");
 }

body {
	color: #172B47;
	font-family: 'Greycliff-CF-Heavy', sans-serif;
}

p {
	font-family: 'NeutrifPro-Medium', sans-serif;
	font-size: 1.5em;
}

.content a {
	color: #172B47;
	text-decoration: underline;
}

.content a:hover {
	color: #172B47;
	font-style: italic;
}

.content a:visited {
	color: #172B47;
}

.jumbotron {
	background-image: url('../img/oh-discover-website-banner_banner.png');
	background-size: cover;
	border-radius: 0px;
	padding-top: 10%;
	padding-bottom: 10%;
}

.navbar {
    margin-bottom: 0;
	border: 0;
}

.oh-nav a {
	color: #172B47;
	font-size: 1.2em;
}

.icon-bar {
	background-color: #172B47;
}

#bs-collapse-nav li a {
	color: #172B47;
}

h1 {
	margin-top: 0px;
}

.people-grid img {
	width: 100%;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.faces {
	position: relative;
	text-align: center;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	color: #172B47;
}

.hide {
	display: none;
}

footer {
	margin-top: 50px;
}

.footer {
	font-size: 1em;
}

/* For personProfile.html page */
.face img {
	width: 100%;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
}